{
	"mask": 
	{
		"info":
		{
			"version": "1.0.0",
			"template": "MaskScript",
			"description": "Single line description of mask script"
		},
		"options":
		[
			{
				"displayName": "Example wavelength dropdown",
				"name": "wavelength_mask",
				"hint": "Select wavelength",
				"type": "wavelength",
				"value": "0"
			},
			{
				"displayName": "Example custom dropdown",
				"name": "custom_dropdown_mask",
				"type": "dropdown",
				"displayNames": ["Example 1", "Example 2", "Example 3", "Example 4", "Example 5"],
				"names": ["example_1", "example_2", "example_3", "example_4", "example_5"],
				"value": "0"
			},
			{
				"displayName": "Example dynamic dropdown",
				"name": "dynamic_dropdown_mask",
				"hint": "Index is only calculated if 'Analyze Index' is selected",
				"type": "dropdown",
				"getValuesFor": "dynamic_input",
				"value": "0"
			},
			{
				"displayName": "Example threshold slider",
				"name": "example_thresh_mask",
				"hint": "Cutoff threshold for binary image",
				"type": "slider",
				"value": "0.5",
				"minimum": "0",
				"maximum": "1",
				"steps": 250
			},
			{
				"displayName": "Example check box",
				"name": "example_checkbox_mask",
				"hint": "does something",
				"type": "checkBox",
				"value": "true"
			}
		]
	}
}
